{% extends 'base.html' %}


{% block styles %}
<style>
      .pial {
      border-color: #00226b;
      color: #00226b;
    }
    
    .pial:hover {
      background-color: #00226b;
      color: white;
    }
    </style>
</style>
{% endblock styles %}

{% block main_content %}
<h6 class=mt-4>All Questions- </h6>


{% for q in questions_set %}
<div class="card mt-4">
    <div class="card-body">
        <h6><a href="{% url 'answer' q.pk %}">{{q.the_question}}</a> </h6>
        {% if q.is_anonymous %}
        <p>Asked by - Anonymous</p>
        {% else %}
        <p>asked by- <a href="{% url 'profile_handler' q.asked_by.pk %}">{{q.asked_by.first_name}}
                {{q.asked_by.last_name}}
            </a></p>
        {% endif %}
        <a href="{% url 'answer' q.pk %}" class="btn btn-outline-success btn-sm"><svg xmlns="http://www.w3.org/2000/svg"
                width="16" height="16" fill="currentColor" class="bi bi-reply-all-fill" viewBox="0 0 16 16">
                <path
                    d="M8.021 11.9 3.453 8.62a.719.719 0 0 1 0-1.238L8.021 4.1a.716.716 0 0 1 1.079.619V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                <path
                    d="M5.232 4.293a.5.5 0 0 1-.106.7L1.114 7.945a.5.5 0 0 1-.042.028.147.147 0 0 0 0 .252.503.503 0 0 1 .042.028l4.012 2.954a.5.5 0 1 1-.593.805L.539 9.073a1.147 1.147 0 0 1 0-1.946l3.994-2.94a.5.5 0 0 1 .699.106z" />
            </svg>
            Answer</a>

    </div>
</div>
{% endfor %}

{% if questions_set.has_next %}
<div class="container mt-4">
    <h6 style="text-align: center;"><a class="btn pial btn-sm" href="?page={{questions_set.next_page_number}}">See
            More</a></h6>
</div>
<br>
{% endif %}
{% endblock main_content %}