{% extends "base.html" %}


{% block title %}
<title>Welcome to Home</title>
{% endblock title %}

{% block styles %}
<style>
.pial {
  border-color: #00226b;
  color: #00226b;
}

.pial:hover {
  background-color: #00226b;
  color: white;
}
</style>
{% endblock styles %}


{% block main_content %}
<br>

<div class="card mt-2">
  <div class="card-body">
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <div class="container my-4">
        <div class="row">
          <div class="col-md-8">
            <h6>Ask your question:</h6>
            <hr size="30px">
            <textarea class="form-control" name="the_question" cols="25" rows="3"
              placeholder="Ask a question, the community is eager to answer">{{ data }}</textarea><br>

            <hr size="30px">
            <div class="container">
              <div class="row">
                <div class="input-group mb-3">
                  <select class="custom-select" id="inputGroupSelect01" name="category">
                    <option selected>Select Category</option>
                    {% for c in cats %}
                    <option value="{{c.cat}}">{{c.cat}}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="form-check form-switch ml-2 mt-2">
                  <input class="form-check-input" type="checkbox" name="is_ann" id="flexSwitchCheckChecked">
                  <label class="form-check-label" for="flexSwitchCheckChecked">Ask as anonymous</label>
                </div>
              </div>
            </div>

            <div class="form-group mt-2">
              <button class="btn pial mt-2" style="position: relative;"
                type="submit">Ask</button>
            </div>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>

<br>

{% endblock main_content %}